{% extends 'base.html.twig' %}

{% block title %}Galleries!{% endblock %}

{% block body %}
    <h1>Liste des gallerie</h1>

    <ul>
        {% for gallerie in galleries %}
            <li>{{ gallerie.Nom }}</li>
        {% endfor %} {# galleries #}
    </ul>

{% endblock %} {# body #}


