{% extends 'base.html.twig' %}

{% block title %}Galleries{% endblock %}

{% block body %}
    <h1>Liste des gallerie</h1>

    <ul>
        {% for gallerie in galleries %}
            <li><a href="{{ path('galleries_show',{'id':gallerie.id}) }}">Gallerie de {{ gallerie.Auteur }}</a> </li>
        {% endfor %} {# galleries #}
    </ul>

{% endblock %} {# body #}


