
{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_album_delete', {'id': album.id}) }}" onsubmit="return confirm('Supprimer??');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ album.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endif %}